/* General Reset to remove default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    --primary: #46237A;
    --secondary: #256EFF;
    --accent: #3DDC97;
    --white: #FFFFFF;
    --light-gray: #EEEEEE;
    --dark-gray: #9F9F9F;
    --black: #000000;
}

/* Global Styles */
body {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Space Mono", monospace ;
}

/* Navbar Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.logo a {
    padding: 0 32px 0 0;
    text-decoration: none;
    font-family: "Space Mono", sans-serif;
}

.menu-links {
    display: flex;
    justify-content: center;
}

.menu-links a {
    text-decoration: none;
    color: var(--black);
    font-family: "Space Mono", sans-serif;
    text-align: center;
}

.menu-links li {
    list-style: none;
}

a:hover {
    color: var(--secondary);
}


a {
    padding: 0 0 0 32px;
}

.menu-toggle {
    display: none;
}

/* =============================== 
    Navbar Mobile Styling
================================= */
@media (max-width: 600px) {
    nav {
        margin: 16px 0;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-links {
        display: none; /* hide menu initially */
        flex-direction: column;
        position: absolute;
        background-color: var(--light-gray);
        top: 60px;
        left: 0;
        right: 0;
        padding: 20px 0;
    }

    .menu-links.active {
        display: flex; /* show menu when acitive */ 
    }

    .menu-links, ul {
        flex-direction: column;
        align-items: center;
    }

    .menu, li {
        padding: 8px;
    }
}

/* =============================== 
    Navbar Tablet Styling
================================= */
@media (min-width: 601px) and (max-width: 900px) {
    nav {
        margin: 16px 0;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-links {
        display: none; /* hide menu initially */
        flex-direction: column;
        position: absolute;
        background-color: var(--light-gray);
        top: 60px;
        left: 0;
        right: 0;
        padding: 20px 0;
    }

    .menu-links.active {
        display: flex; /* show menu when acitive */ 
    }

    .menu-links, ul {
        flex-direction: column;
        align-items: center;
    }

    .menu, li {
        padding: 8px;
    }
}

/* Main Content Styling */
.containers {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 40px 0;
    gap: 40px;
    align-self: stretch;

}

.hero-container h1 {
    color: var(--black);
    text-align: center;
    font-family: "Space Mono";
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    margin: 0;
}

.content-container h2 {
    margin: 0 0 32px 0;
}


/* =============================== 
Mobile h1 styling
================================= */
@media (max-width: 600px) { 
    .hero-container h1 {
        font-size: 48px;
        line-height: 48px;
    }
}

/* =============================== 
    Tablet h1 styling
================================= */
@media (min-width: 601px) and (max-width: 900px) {
    .hero-container h1 {
        font-size: 56px;
        line-height: 56px;
    }
}

/* =============================== 
    Extra Large Desktop h1 styling
================================= */
@media (min-width: 1920px) {
    .hero-container h1 {
        font-size: 4rem;
    }
}

#hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    width: 100%;
    height: 500px;
    border-radius: 24px;
    border: 2px solid var(--dark-gray);
}

/* =============================== 
    Mobile Styling for hero-img 
================================= */
@media (max-width: 600px) {
    #hero-img {
        height: 300px;
    }
}

/* =============================== 
    Tablet Styling for hero-img 
================================= */
@media (min-width: 601px) and (max-width: 900px) {
    #hero-img {
        height: 350px;
    }
}



.btn {
    padding: 12px 24px;
    border-radius: 32px;
    border: 2px solid var(--black);
}

.content-container h2 {
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
}

/* =============================== 
   Mobile Grid Container Styling
================================= */
@media (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
        gap: 1rem;
    }


}

/* =============================== 
   Tablet Grid Container Styling
================================= */
@media (min-width: 601px) and (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
        /* Columns will adjust to fit, minimum 200px, maximum 1fr */
        gap: 1rem;
    }
}


/* =============================== 
    Extra Large Desktop Grid Container styling
================================= */
@media (min-width: 1920px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}
.grid-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    height: 416px;
    background-color: var(--light-gray);
    border-radius: 24px;
    border: 2px solid var(--dark-gray);
}

/* Footer Styles */
footer {
    padding: 96px 0 48px 0;
    text-align: center;
}
